### Environment variables for kersd docker container


### Replace with your API key:
APIKEY=your_key


### Path for data files
DB_PATH=/app/db/


### Interval in miliseconds for polling for new blocks
POLL_INTERVAL_MS=2000


### Logging level - one of: error, warn, info, debug, trace
RUST_LOG=debug
